{% extends "template.html" %}

{% block title %}
  Leaderboard | NVR Quiz
{% endblock %}

{% block content %}
    
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home')}}">Non-Verbal Reasoning Quiz</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('leaderboard')}}">Leaderboard</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <br>
        <h2 class="display-6">Leaderboard</h2>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">% correct score</th>
              <th scope="col">Avg. time taken</th>
              <th scope="col">Total #attempts</th>
            </tr>
          </thead>
          <tbody>
            {% for person in leaderboard %}
              <tr>
                <td>
                    {{person['email']}}
                </td>
                <td>
                    {{person['percentage']}}
                </td>
                <td>
                    {{person['TIME_TAKEN']}}
                </td>
                <td>
                  {{person['num_attempts']}}
                </td>
              </tr>   
            {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}