{% extends "template.html" %}

{% block title %}
  Leaderboard | NVR Quiz
{% endblock %}

{% block content %}
    
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home')}}">Non-Verbal Reasoning Quiz</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('leaderboard')}}">Leaderboard</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <br>
        <h2 class="display-6">Leaderboard</h2>
        <div class="alert alert-info" role="alert" style="display: inline-block;">
          Usernames are partially hidden to maintain anonymity.
        </div>
        <table class="table table-bordered table-hover" id="leaderBoard">
          <thead>
            <tr>
              <th scope="col">Sl. No</th>
              <th scope="col">Username or Pseudonym</th>
              <th scope="col">% correct score</th>
              <th scope="col">Avg. time taken</th>
              <th scope="col">Total #attempts</th>
            </tr>
          </thead>
          <tbody>
            {% for person in leaderboard %}
              <tr>
                <td>
                    {{loop.index}}
                </td>
                <td id="{{loop.index}}_username">
                    {{person['email']}}
                </td>
                <td>
                    {{person['percentage']}}
                </td>
                <td>
                    {{person['TIME_TAKEN']}}
                </td>
                <td>
                  {{person['num_attempts']}}
                </td>
              </tr>   
            {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}

{% block script %}
  <script type="text/javascript">
    var protect_email = function () {
      var tbl = document.getElementById("leaderBoard");
      for (var i = 1, row; row = tbl.rows[i]; i++) {
        var user_email = row.cells[1].innerHTML.trim();
        var avg, splitted, part1, part2;
        splitted = user_email.split("@")[0];
        part1 = splitted.substring(0, splitted.length/3);
        part2 = '.....'
        part3 = splitted.substring(2 * splitted.length/3, splitted.length);
        hidden_username = part1 + part2 + part3;
        document.getElementById(i+"_username").innerHTML = hidden_username;
      }
    };

    document.addEventListener('readystatechange', event => {
      if (event.target.readyState === "complete") {
        protect_email();
      }
    });
  </script>
{% endblock %}