<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login | NVR Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
    <header>
      <div class="container">
        <h1 class="title">Non-Verbal Reasoning Quiz</h1>
          <h2>Login</h2>
          <form action = "{{ url_for('login') }}" method = "POST">
            <p>Email ID: <input type = "email" name = "email" placeholder="enter your email"/></p>
            <p><input type = "submit" value = "Login" /></p>
         </form>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>