{% extends "template.html" %}

{% block title %}
  Home | NVR Quiz
{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Non-Verbal Reasoning Quiz</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="form-inline" action="{{ url_for('logout') }}" method="GET">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
          </form>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="jumbotron" style="text-align: center; height: 100%; width: 100%">
          <p class="lead">{{login_msg}} <span style="font-weight: bold"> {{email}} </span></p>
          <form class="form" action = "{{ url_for('enterQuiz') }}" method = "POST">
            <button class="btn btn-success my-2 my-sm-0 btn-lg" type="submit">Take New Quiz</button>
          </form>
          
          <br />
          <br />

          {% if quiz_completed %}
          <form class="form" action = "{{ url_for('overallFeedback') }}" method = "POST">
            <div class="form-group">
              <textarea name="overallFeedback" id="overallFeedback" cols="60" rows="10" placeholder="Please provide your feedback on the quiz experience and suggest changes, if any"></textarea>
            </div>            
            <button class="btn btn-success my-2 my-sm-0 btn-lg" type="submit">Submit Feedback and Logout</button>
          </form>
          {% endif %}
        </div>
      </div>

{% endblock %}