<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage | NVR Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
    <header>
      <div class="container">
        <h1 class="title">Non-Verbal Reasoning Quiz</h1>
        <p>{{login_msg}}</p>
        <br/>
        <form action = "{{ url_for('enterQuiz') }}" method = "POST">
          <p><input type = "submit" value = "Take New Quiz" /></p>
        </form>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>