{% extends "template.html" %}

{% block title %}
  Quiz | NVR Quiz
{% endblock %}

{% block css %}

   <style type="text/css">
      input[type="radio"], label{
         vertical-align: baseline;
         padding: 10px;
         margin: 10px;
      }
   </style>

{% endblock %}


{% block content %}
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
         <a class="navbar-brand" href="#">Non-Verbal Reasoning Quiz</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
      </div>
   </nav>
   <div class="container">
      <br>
      <div class="card">
         <div class="card-body">
            <div class="question">
               <p class="lead">{{ question_text }}</p>
               <img class="img-thumbnail" src="data:image/png;base64,{{question}}"
                  style="display: block; max-width: 80%; max-height: 80%;" />
            </div>
            <br />
            <br />

            <form id="questionSubmission" action="{{ url_for('feedback') }}" method="POST">
               <div id="radio_buttons">
                  <div class="form-group row">

                     <div class="form-check col-lg-3">
                        <label>
                           <input class="form-check-input" type="radio" name="options" value="{{answer}}">
                           <img class="img-thumbnail" src="data:image/png;base64,{{answer}}" alt="answer"
                              style="display: inline-block; width: 200px; height: 200px;" />
                           </input>
                        </label>
                     </div>

                     <div class="form-check col-lg-3">
                        <label>
                           <input class="form-check-input" type="radio" name="options" value="{{dist_1}}">
                           <img class="img-thumbnail" src="data:image/png;base64,{{dist_1}}" alt="dist_1"
                              style="display: inline-block; width: 200px; height: 200px;" />
                           </input>
                        </label>
                     </div>

                     <div class="form-check col-lg-3">
                        <label>
                           <input class="form-check-input" type="radio" name="options" value="{{dist_2}}" checked="checked">
                           <img class="img-thumbnail" src="data:image/png;base64,{{dist_2}}" alt="dist_2"
                              style="display: inline-block; width: 200px; height: 200px;" />
                           </input>
                        </label>
                     </div>

                     <div class="form-check col-lg-3">
                        <label>
                           <input class="form-check-input" type="radio" name="options" value="{{dist_3}}">
                           <img class="img-thumbnail" src="data:image/png;base64,{{dist_3}}" alt="dist_3"
                              style="display: inline-block; width: 200px; height: 200px;" />
                           </input>
                        </label>
                     </div>

                  </div>
               </div>

               <br>
               <p><input type='hidden' id='timeTaken' name='timeTaken' value='' /></p>
               <button type="button" class="btn btn-primary" onclick="updateTime()">Submit</button>
            </form>
            
            <br />

            <!-- <form id="skipQuestion" action="{{ url_for('generate') }}" method="GET">
               <button type="submit" class="btn btn-danger">Skip this question</button>
            </form> -->
         </div>
      </div>
   </div>
{% endblock %}

{% block script %}
   <script type="text/javascript">
      var time_in_secs = 0
      function add_time() {
         time_in_secs = time_in_secs + 1
      }

      window.onload = function () {
         window.setInterval(add_time, 1000);

         // to shuffle the options
         var options = $("#radio_buttons");
         options.html(
            options.find("label").sort(function () {
               return Math.round(Math.random()) - 0.5;
            })
         );
      }

      function updateTime() {
         document.getElementById("timeTaken").value = time_in_secs.toString();
         clearInterval(add_time)
         document.getElementById("questionSubmission").submit();
      }
   </script>
{% endblock %}