<!DOCTYPE html>
<html>
   <head>
      <title>Results | NVR Quiz</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
        
   <body>
      <p>{{ question_text }}</p>
      <img width="100" height="100" src={{ url_for('static', filename='result/' + question_filepath) }} />
      <hr>
      <form action = "http://localhost:9000/generate" method = "POST">
         <p>
            {% for option in options %}
               <input type="radio" name="options" id={{option}} value={{option}} />
                  <img width="100" height="100" src={{ url_for('static', filename='result/' + option) }} />
               </input>
               <br>
            {% endfor %}
         </p>
         <p><input type="submit" value="Submit" /></p>
      </form>
   </body>
</html>