<!DOCTYPE html>
<html>
   <head>
      <title>NVR Quiz</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
        
   <body>
      <p>{{ question_text }}</p>
      <!-- <img width="200" height="200" src={{ url_for('static', filename='result/' + question_filepath) }} /> -->
      <img width="200" height="200" src="data:image/png;base64,{{question}}"/>
      <hr>
      <form id="questionSubmission" action = "{{ url_for('feedback') }}" method = "POST">
         <!-- <p>
            {% for option in options %}
               <input type="radio" name="options" id={{option}} value={{option}} />
                  <img width="200" height="200" src={{ url_for('static', filename='result/' + option) }} />
               </input>
            {% endfor %}
         </p> -->

         
         <!-- <img src="data:image/jpeg;base64,'.base64_encode( $result['image'] ).'"/>
         <img src="data:image/jpeg;base64,'.base64_encode( $result['image'] ).'"/>
         <img src="data:image/jpeg;base64,'.base64_encode( $result['image'] ).'"/> -->

         <p><input type='hidden' id='timeTaken' name='timeTaken' value='' /></p>
         <p><input type="button" value="Submit" onclick="updateTime()"/></p>
      </form>

      <script type="text/javascript">
         var time_in_secs = 0
         function add_time() {
            time_in_secs = time_in_secs + 1
            console.log(time_in_secs)
         }

         window.onload = function() {
            window.setInterval(add_time, 1000);
         }

         function updateTime() {
            document.getElementById("timeTaken").value = time_in_secs.toString();
            clearInterval(add_time)
            document.getElementById("questionSubmission").submit();
         }
      </script>
   </body>
</html>