{% extends "template.html" %}

{% block title %}
  Register | NVR Quiz
{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Non-Verbal Reasoning Quiz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="container">
        <br>
        <div class="card">
          <h3 class="card-header">Register</h3>
          <div class="card-body">
          <form action = "{{ url_for('register') }}" method="POST">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="number" class="form-control" id="age" name="age" placeholder="15" required>
            </div>
            <div class="form-group">
              <label for="education">Education</label>
              <input type="text" class="form-control" id="education" name="education" placeholder="Class 9" required>
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control" id="gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
        </div>
      </div>
    </div>

{% endblock %}